* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

/*Heading sizes*/
h1 {
  font-size: 5.6rem;
  font-weight: bold;
}

h2 {
  font-size: 4.4rem;
  color: black;
  font-weight: bold;
}

h3 {
  font-size: 3.2rem;
  color: black;
  font-weight: bold;
}

h4 {
  font-size: 2.4rem;
  color: #b9b9b9;
  font-weight: bold;
}

h5 {
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
}

h6 {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
}

p {
  font-size: 1.8rem;
  color: #b9b9b9;
}

/*Navigation*/
/*Navigation*/
nav {
  height: 195px;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
  background-color: white;
  display: flex;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  font-size: 2.4rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.logo {
  color: #ff4922;
  margin-right: 200px;
}

nav a:hover {
  color: #ff4922;
  transition: all 250ms ease-in-out;
}

nav i {
  font-size: 3.5rem;
}

.burgerMenuOpen,
.burgerMenuClose {
  display: none;
}

/*Responsive*/

@media screen and (max-width: 768px) {
  .nav-links {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: #ff4922;
    align-items: center;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    top: 195px;
    gap: 10px;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
  }

  .burgerMenuOpen {
    display: block;
    margin-right: 20px;
  }

  .burgerMenuOpen.active {
    display: none;
  }

  .burgerMenuClose {
    display: none;
    margin-right: 20px;
  }

  .burgerMenuClose.active {
    display: block;
  }

  nav img {
    margin-right: auto;
    margin-left: 20px;
  }

  .fa-bars,
  .fa-xmark {
    color: #ff4922;
  }
}

/*Section [Hero]*/
.hero {
  display: flex;
  max-width: 1281px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.hero-container {
  width: 100%;

  align-content: center;
}

.hero img {
  width: 30%;
  height: 30%;
}

.hero h2 {
  line-height: 1.2;
}

.hero h2:nth-child(2) {
  margin-bottom: 10px;
}

.hero-h4-last {
  margin-bottom: 10px;
}

.getstarted-btn {
  display: inline-block;
  background-color: #ff4922;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 2.4rem;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.getstarted-btn:hover {
  background-color: #e04928;
  transition: all 250ms ease-in-out;
}

/*Section [Reason Why]*/
.reason-why {
  max-width: 1281px;
  margin: 0 auto;
}

.reason-why h2 {
  text-align: center;
}

.reason-why h2:nth-child(2) {
  margin-bottom: 40px;
}

.reason-why header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 300px;
  row-gap: 100px;
  justify-content: center;
  margin-bottom: 100px;
}

.reason-why article {
  display: flex;
  gap: 30px;
}

.reason-why-info-container {
  display: flex;
  flex-direction: column;
}

.reason-why-info-container h3 {
  margin-bottom: 5px;
}

/*Section [Zaion Helps]*/
.zaion-helps {
  max-width: 1281px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 115px;
  gap: 30px;
}

.ai-img img {
  width: 10%;
  height: 20%;
}

.zaion-helps-info-container article img {
  align-self: start;
}

.zaion-helps article {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.zaion-helps-text-container {
  display: flex;
  flex-direction: column;
}

.zaion-helps-text-container h3 {
  margin-bottom: 5px;
}

.zaion-helps h2 {
  line-height: 1.4;
}

/*Section [FAQ]*/
.faq {
  max-width: 1281px;
  margin: 0 auto;
  display: flex;
  height: auto;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.faq h6 {
  font-size: 2rem;
  color: #22c55e;
}

.faq-nav ul li {
  color: black;
}

.headline {
  width: 40%;
  height: 50px;
  background-color: rgb(18, 85, 162);
  text-align: center;
  font-size: 1.7rem;
  align-self: center;
  color: white;
  font-weight: bold;
  align-content: center;
  text-decoration: underline;
}

.faq-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.faq header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 40%;
  height: 50px;
  background-color: white;
  color: white;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.faq article {
  width: 40%;
  height: auto;
  text-align: center;
  background-color: white;
}

.faq article p {
  color: black;
  font-size: 1.4rem;
}

.faq h4 {
  text-align: start;
  align-self: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.faq i {
  font-size: 1.7rem;
}

.faq i:nth-child(2) {
  display: none;
}

#faqHide_1,
#faqHide_2,
#faqHide_3 {
  display: none;
}

.fa-caret-down,
.fa-caret-up {
  color: black;
}

/*Section [Customers]*/
.customers {
  max-width: 1281px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 102px;
}

.customers-container {
  background-color: #ff4922;
  max-width: 1281px;
  height: 327px;
  border-radius: 25px;
  align-content: center;
}

.customers h3 {
  color: white;
}

.customers h2 {
  margin-bottom: 32px;
}

.line-text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

.line-text::before,
.line-text::after {
  content: "";
  flex: 1;
  margin: 0 10px;
  transform: translateY(50%);
}

.line-text::before {
  margin-right: 10px;
}

.line-text::after {
  margin-left: 10px;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100px;
  border-bottom: 3px solid white;
  margin: 0 10px;
}

/*Section [name]*/

/*Footer*/

/*Responsive*/
@media screen and (max-width: 768px) {
  /*Heading sizes*/
  h1 {
    font-size: 3.6rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2.4rem;
    color: black;
    font-weight: bold;
  }

  h3 {
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }

  h4 {
    font-size: 1.8rem;
    color: #b9b9b9;
    font-weight: bold;
  }

  h5 {
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
  }

  h6 {
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
  }

  p {
    font-size: 1.6rem;
    color: #b9b9b9;
  }
}
